body {
  background-color: #f0f0f0;
  font-family: Asial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div {
  text-align: center;
}

input {
  padding: 12px;
  font-size: 16px;
  border: 2px solid #4caf50;
  border-radius: 8px;
  outline: none;
}

h1 {
  color: #333;
  margin-top: 20px;
}

button {
  padding: 10px 24px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  list-style: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 12px;
  margin-bottom: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  min-width: 300px;
}

li button {
  background-color: #f44336;
  margin-left: 20px;
}

li button:hover {
  background-color: #d32f2f;
}